.calculator {
    max-width: 400px;
    margin: 4em auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
}

.display {
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    width: 50px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

.purple-text {
    color: #800080;
}

.gray {
    background-color: #ccc;
}
.purple {
    background-color: #800080;
    color: #fff;
}