:root {
    --color-text1: #343434;
    --color-text2: #ffffff;
    --color-one: #4d0303;
    --color-two: #8f1a1a;
    --color-three: #5d0404;
    --color-four: #ffffff;
    --color-five: #d754ff;
}

