@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-text1: #343434;
    --color-text2: #ffffff;
    --color-one: #4d0303;
    --color-two: #8f1a1a;
    --color-three: #5d0404;
    --color-four: #ffffff;
    --color-five: #d754ff;
}

* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-one);
}
header__titulo {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
}