@media screen and (min-width: 394px) and (max-width: 820px) {
    .header__busca {
        display: none;
    }
    .header__titulo {
        font-size: 20px;
    }
    .header__link {
        font-size: 14px;
    }
}