body {
    height: auto;
}
.apresentacao__titulo {
    margin-bottom: 0.5em;
}
.main__nos__fotos {
    display: flex;
    text-align: center;
    margin: 4em 0;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.main__melissa__matheus {
    margin-top: 2em;
}
.main__fotos__text {
    text-align: center;
    margin: 10px;
}
.main__img {
    width: 100px;
    border-radius: 7px;
}
.main__nos {
    width: auto;
}
.main__fotos {
    width: 100px;
    margin: 1%;
}