body {
    height: auto;
}
.apresentacao__titulo {
    margin-bottom: 0.5em;
}
.main__nos__fotos {
    display: flex;
    text-align: center;
    margin: 4em 0;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.main__melissa__matheus {
    margin-top: 2em;
}
.main__fotos__text {
    text-align: justify;
    margin: 20px;
}
.main__img {
    width: 100px;
    border-radius: 7px;
}
.main__nos {
    width: 600px;
}
.main__fotos {
    width: 200px;
}
footer {
    bottom: 0;
    position: relative;
}