body {
    height: auto;
}
.main__nos__fotos {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    text-align: center;
    margin-top: 2em;
}
.main__fotos__text {
    text-align: justify;
    margin: 20px;
}
.main__img {
    width: 90px;
}
.main__nos {
    width: 400px;
}
footer {
    bottom: 0;
    position: relative;
}