.box{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: auto;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    width: 100%;
}
.labelInput{
    pointer-events: none;
    transition: .5s;
}
#submit{
    background-image: linear-gradient(-145deg, var(--color-six), var(--color-four));
    width: 50%;
    height: 50%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: .4s ease-out;
}
#submit:hover{
    background-image: linear-gradient(145deg, var(--color-six), var(--color-four));
}